
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 3068px;
    background-color: rgba(0, 26, 225, 1);
}
.body2{
    height: 1300px;
}

header header, .header{
    width: 100%;
    height: 60px;
    /* background-color: rgba(101, 93, 121, 0.324); */
    position: fixed;
    top: 0px;
    z-index: 99;
}

.simular{
    width: 100px;
    text-align: center;
    padding: 5px 0 0 0;
    color: rgb(64, 0, 87);
    text-decoration: none;
    height: 25px;
    border: 0px;
    border-radius: 10px;
    margin: 25px 7% 0 0;
    float: right;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
}
.balao1, .balao2, .balao3, .balao4{
    position: absolute;
    width: 100%;
    height: 505px;
    background: linear-gradient(185.89deg, #AD44FF 6.33%, #8F00FF 23.64%, #8F00FF 78.32%, #AF49FF 93.81%);
    border-radius: 0 0 90px 90px;
}
.balao2{
    margin: 510px 0 0 0;
    border-radius: 90px;
    height: 1125px;
}
.balao3{
    border-radius: 90px;
    height: 1125px;
    margin: 1640px 0 0 0;
}
.balao4{
    border-radius: 90px 90px 0 0;
    margin: 12% 0 0 0;
    background: linear-gradient(185.89deg, #AD44FF 6.33%, #8F00FF 43.64%, #4800ff00 88.32%, #1500ff 93.81%);
}

.apresentacao h1{
    color: white;
    font-family: 'Rhodium Libre', serif;
    font-size: 4rem;
    line-height: 120px;
    letter-spacing: 0.1rem;
    margin: 10% 0 0 8%;
}

.balao1 h2{
    color: white;
    text-align: center;
    font-size: 36px;
    margin: 100px 0 0 0;
}

.cartoes{
    /* background-color: rgba(0, 0, 0, 0.276); */
    width: 85%;
    align-items: center;
    margin: 100px 0 0 8%;
    display:inline-flex;
}

.card{
    /* border: 1px solid black; */
    width: 25%;
}

.divimagen{
    width: 100px;
    height: 100px;
    margin: 5% auto;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    border-radius: 20px;
    padding: 30px;
}

.divimagen img{
    width: 100%;
    height: 100%;
}

.cardparagrafo{
    margin: 37px auto;
    text-align: center;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}

.simular2{
    width: 250px;
    height: 120px;
    font-size: 32px;
    text-decoration: none;
    margin: 0 0 0 38%;
    padding: 25px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
}

.divsimular2{
margin: 155px;
}

.grid-info{
    /* background-color: rgba(0, 0, 0, 0.482); */
    width: 85%;
    display: inline-flex;
    margin: 100px 0 0 7%;
}

.grid-info h2{
    padding: 3% 0 0 0;
    font-size: 30px;
}

.grid-info p{
    color: rgba(116, 0, 157, 1);
    padding: 5% 0 0 0;
}

.balaoDeInformaçoes{
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    font-family: 'Sarpanch', sans-serif;
    text-align: center;
    padding: 3px;
    width: 259px;
    height: 90px;
    border-radius: 20px;
    margin: 1% 0 0 7%;
}

.balaoDeInformaçoesMaior{
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    font-family: 'Sarpanch', sans-serif;
    text-align: center;
    padding: 3px;
    width: 299px;
    height: 110px;
    border-radius: 20px;
    margin: 0 0 0 7%;
}
.imagensbalao3{
    width: 40%;
    float: left;
    height: 100%;
}
.imagensbalao3 img{
padding: 30%;
}

.balao3titulos{
    /* background-color: black; */
    margin: 13% 0 0 0;
    letter-spacing: 0.2rem;
}
.balao3conjuntos{
    /* background-color: rgba(255, 255, 255, 0.215); */
    margin: 3% 0 0 40%;
    width: 60%;
    color: white;
}
.balao3conjuntos h1{
    padding: 10px;
}
.balao3conjuntos p{
    padding: 10px;
    width: 340px;
}
.balao4 h1{
    color: white;
    font-size: 40px;
    margin: 5% 0 0 8%;
    width: 650px;
}

.balao4 p{
    color: white;
    margin: 2% 0 0 8%;
    font-size: 25px;
    width: 400px;
}

.botaoesquerdo{
    /* background-color: black; */
    margin: 2% 0 0 8%;
    width: 15%;
    height: 100px;
    float: left;
}

.botaoesquerdo button{
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    width: 50%;
    padding: 8px;
    margin: 10% 0 0 0;
    border-radius: 20px;
    cursor: pointer;
    border: 0px;
}
.simular3{
    width: 15%;
    text-align: center;
    padding: 8px;
    color: rgb(64, 0, 87);
    text-decoration: none;
    border: 0px;
    border-radius: 20px;
    margin: 25px 7% 0 0;
    float: right;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
}








.simularMenu{
    width: 100px;
    text-align: center;
    padding: 5px 0 0 0;
    color: rgb(64, 0, 87);
    text-decoration: none;
    height: 25px;
    border: 0px;
    border-radius: 10px;
    margin: 25px 0 0 8%;
    float: left;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
}

.apresentacao .pagina2 h1{
    width: 788px;
    font-size: 4rem;
}

.apresentacao .pagina2 h2{
    width: 788px;
    text-align: start;
    margin: 2% 0 0 8%;
}

.modidicacaoNoBalao{
    height: 900px;
    border-radius: 90px 90px 0px 0px;
}
.modidicacaoNoBalao h1{
    text-align: center;
    margin: 5% 0 0 0;
    font-size: 4rem;
}
.container{
    display:flex;
    margin: 5% auto;
    background-image:url(./imagens/Rectangle\ 41.ico);
    width: 970px;
    height: 453px;
}
.containergrid{
    margin: 5% auto;
}
.containerBranco{
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    width: 830px;
    height: 142px;
    margin: 0 auto;
    border-radius: 20px;
    display:inline-flex;
}
.containerBranco .parcela{
    width: 287px;
    height: 2.2rem;
    padding: 60px 0 0 50px;
    /* background-color: rgba(0, 0, 0, 0.187); */
}
.quadradoRoxo1{
    width: 71px;
    height: 45px;
    background-color: rgba(85, 6, 134, 1);
    border-radius: 10px;
    margin: 48px 0 0 0;
}
.quadradoRoxo1 p{
    color: white;
    margin: 13px 20px;
}

.quadradoRoxo2{
    width: 201px;
    height: 45px;
    background-color: rgba(85, 6, 134, 1);
    border-radius: 10px;
    margin: 48px 0 0 500px;
    display:flex;
    position: absolute;
}
.quadradoRoxo2 p{
    color: white;
    margin: 13px auto;
}
.containerParagrafo{
    width: 215px;
    height: 25px;
    margin: 100px 0 0 87px;
    text-align: center;
    font-size: 12px;
    /* background-color: black; */
    align-items: flex-end;
}
.containerRanger{
    color: white;
    /* background-color: rgba(0, 0, 0, 0.228); */
    width: 830px;
    height: 341px;
}
.containerParagrafo1{
    height: 80px;
    /* background-color: rgba(0, 0, 0, 0.276); */
    display: flex;
}
.containerParagrafo1 .container-P-1{
    float: left;
    margin: 32px 0 0 0;
    font-size: 25px;
}
.container-p2-c1{
    text-align: center;
    width: 150px;
    height: 45px;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    border-radius: 10px;
    margin: 17px 0 0 267px;
    display: flex;
    color: black;
}
.container-p2-c1 p{
    padding: 10px 5px 0 30px;
    font-size: 20px;
}
.container-p2-c2 p{
    padding: 10px 0 0 0px;
    margin: 0px;
    font-size: 20px;
}
.containerParagrafo1 div .resultadoValor{
    width: 100px;
    background: transparent;
    border-radius: 10px;
    font-weight: bold;
    border: 0px;
    font-size: 20px;
    pointer-events: none;
}


.containerParagrafo1 div .resultadoValor2{
    pointer-events: none;
    width: 40px;
    background: transparent;
    border-radius: 10px;
    font-weight: bold;
    border: 0px;
    font-size: 20px;
    margin: 0 0 0 11px;
    text-align: center;
}
.container-p2-c2{
    text-align: center;
    width: 150px;
    height: 45px;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    border-radius: 10px;
    margin: 17px 0 0 190px;
    color: black;
    display: flex;
}


.range-1, .range-2{
    /* background-color: rgba(0, 0, 0, 0.296); */
    border-radius: 100px;
}
input[type=range]{
    -webkit-appearance:none;
    width: 100%;
    margin: 20px 0;
}
/* estiliza o marcador móvel */
/* Chrome/Safari/Opera */
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none; /* remove estilo padrão do browser */
    background: rgba(85, 6, 134, 1);
    height: 20px;
    width: 20px;
    border-radius: 20px;
    margin: -8px 0 0 0;
    box-shadow: inset 0px 0px 5px rgb(198, 198, 198);
}
input[type=range]::-webkit-slider-runnable-track {
    width: 100%;
    height: 5px;
    background: linear-gradient(90deg,#2c29f9 0%, #04ff21 100%);
    box-shadow: 0px 0px 20px rgb(188, 102, 249);
}
.span-1{
    margin: 0 0 0 -12.9px;
    font-weight: bold;
}
.span-2{
    float: right;
    margin: 0 -20px 0 0;
    font-weight: bold;
}
.buttonEmprestimo{
    width: 450px;
    height: 70px;
    font-size: 25px;
    margin: 0 auto;
    border-radius: 20px;
}
.buttonEmprestimo button{
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 150.05%);
    letter-spacing: 0.1rem;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 27px;
    color: rgb(64, 0, 87);
    text-align: center;
    border-radius: 20px;
    width: 100%;
    height: 100%;
    border: 0px;
    cursor:pointer;
}
.buttonEmprestimo button:active:after .balaoflutuante {
    display:block;
}