
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rhodium+Libre&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sarpanch:wght@700&display=swap');

*{
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto', sans-serif;
}

body{
    height: 3068px;
    background-color: rgba(0, 26, 225, 1);
}

header header{
    width: 100%;
    height: 60px;
    /* background-color: rgba(101, 93, 121, 0.324); */
    position: fixed;
    top: 0px;
    z-index: 99;
}

.simular{
    width: 100px;
    text-align: center;
    padding: 5px 0 0 0;
    color: rgb(64, 0, 87);
    text-decoration: none;
    height: 25px;
    border: 0px;
    border-radius: 10px;
    margin: 25px 7% 0 0;
    float: right;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
}
.balao1, .balao2, .balao3, .balao4{
    position: absolute;
    width: 100%;
    height: 505px;
    background: linear-gradient(185.89deg, #AD44FF 6.33%, #8F00FF 23.64%, #8F00FF 78.32%, #AF49FF 93.81%);
    border-radius: 0 0 90px 90px;
}
.balao2{
    margin: 510px 0 0 0;
    border-radius: 90px;
    height: 1125px;
}
.balao3{
    border-radius: 90px;
    height: 1125px;
    margin: 1640px 0 0 0;
}
.balao4{
    border-radius: 90px 90px 0 0;
    margin: 157px 0 0 0;
    background: linear-gradient(185.89deg, #AD44FF 6.33%, #8F00FF 43.64%, #4800ff00 88.32%, #1500ff 93.81%);
}

.apresentacao h1{
    color: white;
    font-family: 'Rhodium Libre', serif;
    font-size: 80px;
    line-height: 120px;
    letter-spacing: 0.1rem;
    margin: 10% 0 0 7%;
}

.balao1 h2{
    color: white;
    text-align: center;
    font-size: 36px;
    margin: 100px 0 0 0;
}

.cartoes{
    /* background-color: rgba(0, 0, 0, 0.276); */
    width: 85%;
    align-items: center;
    margin: 100px 0 0 8%;
    display:inline-flex;
}

.card{
    /* border: 1px solid black; */
    width: 25%;
}

.divimagen{
    width: 100px;
    height: 100px;
    margin: 5% auto;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    border-radius: 20px;
    padding: 30px;
}

.divimagen img{
    width: 100%;
    height: 100%;
}

.cardparagrafo{
    margin: 37px auto;
    text-align: center;
    color: white;
    font-family: 'Red Hat Display', sans-serif;
}

.simular2{
    width: 250px;
    height: 120px;
    font-size: 32px;
    text-decoration: none;
    margin: 0 0 0 38%;
    padding: 25px;
    border-radius: 20px;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.1rem;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
}

.divsimular2{
margin: 155px;
}

.grid-info{
    /* background-color: rgba(0, 0, 0, 0.482); */
    width: 85%;
    display: inline-flex;
    margin: 100px 0 0 7%;
}

.grid-info h2{
    padding: 3% 0 0 0;
    font-size: 30px;
}

.grid-info p{
    color: rgba(116, 0, 157, 1);
    padding: 5% 0 0 0;
}

.balaoDeInformaçoes{
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    font-family: 'Sarpanch', sans-serif;
    text-align: center;
    padding: 3px;
    width: 259px;
    height: 90px;
    border-radius: 20px;
    margin: 1% 0 0 7%;
}

.balaoDeInformaçoesMaior{
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    font-family: 'Sarpanch', sans-serif;
    text-align: center;
    padding: 3px;
    width: 299px;
    height: 110px;
    border-radius: 20px;
    margin: 0 0 0 7%;
}
.imagensbalao3{
    width: 40%;
    float: left;
    height: 100%;
}
.imagensbalao3 img{
padding: 30%;
}

.balao3titulos{
    /* background-color: black; */
    margin: 13% 0 0 0;
    letter-spacing: 0.2rem;
}
.balao3conjuntos{
    /* background-color: rgba(255, 255, 255, 0.215); */
    margin: 3% 0 0 40%;
    width: 60%;
    color: white;
}
.balao3conjuntos h1{
    padding: 10px;
}
.balao3conjuntos p{
    padding: 10px;
    width: 340px;
}
.balao4 h1{
    color: white;
    font-size: 40px;
    margin: 5% 0 0 8%;
    width: 650px;
}

.balao4 p{
    color: white;
    margin: 2% 0 0 8%;
    font-size: 25px;
    width: 400px;
}

.botaoesquerdo{
    /* background-color: black; */
    margin: 2% 0 0 8%;
    width: 15%;
    height: 100px;
    float: left;
}

.botaoesquerdo button{
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
    width: 100%;
    padding: 8px;
    margin: 10% 0 0 0;
    border-radius: 20px;
    border: 0px;
}
.simular3{
    width: 15%;
    text-align: center;
    padding: 8px;
    color: rgb(64, 0, 87);
    text-decoration: none;
    border: 0px;
    border-radius: 20px;
    margin: 25px 7% 0 0;
    float: right;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 1px;
    background: linear-gradient(180deg, #FDFDFD 0%, rgba(255, 255, 255, 0) 269.05%);
}